
<!--
<div class="container">
    <nav aria-label="breadcrumb" style="margin-top: 20px;">
    </nav>
    <h1>Razas</h1>
    <table class="table">
    <thead>
      <tr>
        <th>Id</th>    
        <th>Nombre</th>   
    </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let raza of razas">
          <td style="cursor: pointer" routerLink="/raza/{{raza.id}}"><span>{{raza.id}}</span></td>
          <td style="cursor: pointer">{{raza.nombre}}</td>
      </tr>
  </tbody>
  </table>
  </div> -->
  

<div class="container">

    <div class="row">
  
      <div class="col-lg-3 col-xs-6 " *ngFor="let raza of razas">
  
        <div class="card mb-3 mt-3" style="cursor: pointer" routerLink="/raza/{{raza.id}}">
  
          <img class="card-img-top img-responsive p-2 " width="300" src="{{raza.imagen}}">
  
          <div class="card-body">
  
            <h6 class="card-title  text-center">{{raza.nombre}}</h6>
  
          </div>
          
        </div>
  
      </div>
      
    </div>
  
  </div>

