<div class="container">
  <nav aria-label="breadcrumb" style="margin-top: 20px;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/mascota/list">Mascotas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Mascota {{mascotaDetail.nombre}}</li>
    </ol>
  </nav>
  <h1>{{mascotaDetail.nombre}}</h1>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row">Id</th>
      <td>{{mascotaDetail.id}}</td>
    </tr>
    <tr>
      <th scope="row">Nombre</th>
      <td>{{mascotaDetail.nombre}}</td>
    </tr>
    <tr>
      <th scope="row">Edad</th>
      <td>{{mascotaDetail.edad}}</td>
    </tr>
    <tr>
      <th scope="row">Genero</th>
      <td>{{mascotaDetail.genero}}</td>
    </tr>
    <tr>
      <th scope="row">Color</th>
      <td>{{mascotaDetail.color}}</td>
    </tr><tr>
      <th scope="row">Precio</th>
      <td>{{mascotaDetail.precio}}</td>
    </tr>
    </tbody>
  </table>
</div>
