<div class="container">

  <div class="row">

    <div class="col-lg-3 col-xs-6" *ngFor="let mascota of mascotas">

      <div class="card mb-3" >

        <img class="card-img-top img-responsive p-3" src="{{mascota.imagen}}" >

        <div class="card-body">

          <h4 class="card-title text-center">{{mascota.nombre}}</h4>

          <hr>

          <div class="text-center">

            <p class="card-text">Color : {{mascota.color}}</p>

            <p class="card-text">Genero :{{mascota.genero}}</p>

            <p class="card-text">Edad : {{mascota.edad}}</p>

            <p class="card-text">Precio : {{mascota.precio}}</p>

            <div class="row form-inline justify-content-center align-self-center ">
              <div *ngxPermissionsOnly="['ADMIN']">
                <button class="btn btn-primary mr-3"  style="cursor: pointer;" (click)="showHideEdit(mascota.id)" > <span class="fa fa-pencil"></span>Editar</button>
              </div>
              <div *ngxPermissionsOnly="['ADMIN']">
                <button class="btn btn-danger" ><span class="fa fa-trash"></span>Eliminar</button>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>
    <div class="col-9">
        <div *ngIf="showEdit">
            <app-mascota-edit (cancel)="showHideEdit(selectedEspecie.id)" [mascota]="selectedMascota"></app-mascota-edit>
        </div>
    </div>
  </div>

</div>