<div class="container">
  <nav aria-label="breadcrumb" style="margin-top: 20px;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Mascotas</li>
    </ol>
  </nav>
  <h1>Mascotas</h1>
  <p>
    <a class="btn btn-success" routerLink= "/mascota/create">Crear una Mascota</a>
  </p>
  <table class="table">
  <thead>
    <tr>
      <th>Id</th>    
      <th>Nombre</th>  
      <th>Edad</th>  
      <th>Genero</th>  
      <th>Color</th>  
      <th>Precio</th>  
      <th>Raza</th>  
  </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let mascota of mascotas">

       <!-- <td style="cursor: pointer" routerLink="/mascota/{{mascota.id}}"><span>{{mascota.id}}</span></td> -->
       <td style="cursor: pointer">{{mascota.id}}</td>
        <td style="cursor: pointer">{{mascota.nombre}}</td>
        <td style="cursor: pointer">{{mascota.edad}}</td>
        <td style="cursor: pointer">{{mascota.genero}}</td>
        <td style="cursor: pointer">{{mascota.color}}</td>
        <td style="cursor: pointer">{{mascota.precio}}</td>
        <td style="cursor: pointer">{{mascota.raza.nombre}}</td>
    </tr>
</tbody>
</table>
</div>
