<div style="text-align:center" class="titulo">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="mascotaVentaTag" class="nav-link" routerLink="/mascotasVenta/list">Mascotas en Venta</a>
        </li>
        <li class="nav-item">
            <a id="mascotaAdopcionTag" class="nav-link" routerLink="/mascotasAdopcion/list">Mascotas de Adopción</a>
        </li>
    </ul>
    <div class="list">
        <router-outlet></router-outlet>
    </div>
</div>

