<!-- <div style="text-align:center" class="titulo">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="mascotaVentaTag" class="nav-link" routerLink="/mascotasVenta/list">Mascotas en Venta</a>
        </li>
        <li class="nav-item">
            <a id="mascotaAdopcionTag" class="nav-link" routerLink="/mascotasAdopcion/list">Mascotas de Adopción</a>
        </li>
        <li class="nav-item">
            <a id="razaTag" class="nav-link" routerLink="/razas/list">Razas</a>
        </li>
      <li class="nav-item">
        <a id="especieTag" class="nav-link" routerLink="/especie/list">Especies</a>
      </li>
    </ul>
    <div class="list">
            <router-outlet></router-outlet>
    </div>
</div> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Pets Uniandes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/especie/list">Especies<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/especie/create">Mascotas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Razas</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

