<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <div class="form-inline">
                <img id="logo" src="../assets/logo.png" class="center-block">
                <h2 class="mainTitle">PETS UNIANDES</h2>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto mt-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Mascotas</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" class="nav-item nav-link" routerLink="/mascota/list" >Nuestras Mascotas</a>
                        <div class="dropdown-divider" *ngxPermissionsOnly="['ADMIN']"></div>
                        <a class="dropdown-item" class="nav-item nav-link" routerLink="/mascota/create" *ngxPermissionsOnly="['ADMIN']">Crear Mascota</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Razas</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" class="nav-item nav-link" routerLink="/raza/list" >Nuestras Razas</a>
                        <div class="dropdown-divider" *ngxPermissionsOnly="['ADMIN']"></div>
                        <a class="dropdown-item" class="nav-item nav-link" routerLink="/mascota/create" *ngxPermissionsOnly="['ADMIN']">Crear Raza</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Especies</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" class="nav-item nav-link" routerLink="/especie/list" >Nuestras Especies</a>
                        <div class="dropdown-divider" *ngxPermissionsOnly="['ADMIN']"></div>
                        <a class="dropdown-item" class="nav-item nav-link" routerLink="/mascota/create" *ngxPermissionsOnly="['ADMIN']">Crear Especie</a>
                    </div>
                </li>
                <a id="authors-navbar-item" class="nav-item nav-link" routerLink="/cliente/list">Clientes</a>
                <a id="editorials-navbar-item" class="nav-item nav-link" routerLink="/compra/list">Compras</a>
                <a id="editorials-navbar-item" class="nav-item nav-link" routerLink="/historia/list">Historias</a>
                <a id="editorials-navbar-item" class="nav-item nav-link" routerLink="/calificacion/list">Calificaciones</a>

            </div>


            <div class="navbar-nav ml-auto flex-column">
                <div class="flex-row" *ngxPermissionsOnly="['GUEST']">
                  <div class="form-row">
                    <button type="button" class="btn btn-primary mr-2" data-toggle="button" aria-pressed="false" autocomplete="off"
                      id="signup-navbar-item" routerLink="/auth/sign-up">Sign Up</button>
                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="login-navbar-item"
                      routerLink="/auth/login">Login</button>
            
                  </div>
                </div>
                <div class="flex-row" *ngxPermissionsOnly="['CLIENT', 'ADMIN']">
                  <div class="form-row">
                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="logout-navbar-item"
                      (click)="logout()" href="#">Logout</button>
                  </div>
                </div>
            </div>
        </div>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>