<div class="container">
  <nav aria-label="breadcrumb" style="margin-top: 20px;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/especie/list">Especies</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear</li>
    </ol>
  </nav>
  <h1>Crear una especie</h1>

  <form name="especie" (ngSubmit)="f.form.valid && createEspecie()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="especieNombre">Nombre de la Especie</label>
      <input type="text" name="especieNombre" class="form-control" id="especieNombre" placeholder="Nombre" [(ngModel)]="especie.nombre"
      #especieNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && especieNombre.invalid }" required>
      <div class="invalid-feedback">
        <div>El nombre es obligatorio</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>
</div>
